*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #9a7afa;
}
.container{
    margin: 15% auto;
    margin-left: 15%;
}
.container h1{
    width: 20%;
    height: 15vh;
    color: white;
    padding-left: 5px;
    background-color:  #002339;
    border: none;
    outline: none;
    border-radius: 15px;
}

.container h1 span{
    padding-left: 15px;
    border-bottom: 2px solid green;
    color: green;
    
}
.search input{
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 8px;
    height: 40px;
    width: 30%;
    border: none;
    outline: none;
    font-size: medium;
    padding-left: 8px;
    font-weight: bold;
}
button{
    margin-top: 10px;
    height: 40px;
    width: 30%;
    background-color: green;
    color: white;
    font-size: medium;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}